<footer>

<div class="site-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 col-sm-3 col-xs-6"><h3>Koffijberg</h3><p>Scheldestraat 8<br />1078 GK Amsterdam<br />020-6732374<br /><a href="mailto:receptie@koffijberg.nl">receptie@koffijberg.nl</a><br />KVK 1121429<br />BTW 23423902340</p></div>
            <div class="col-lg-2 col-sm-3 col-xs-6"><h3>Openingstijden</h3><p class="text-right">
            	<span class="day">Maandag</span>9.30-19.00<br />
            	<span class="day">Dinsdag</span>9.30-21.00<br />
            	<span class="day">Woensdag</span>9.30-17.30<br />
            	<span class="day">Donderdag</span>9.30-21.00<br />
            	<span class="day">Vrijdag</span>9.30-19.00<br />
            	<span class="day">Zaterdag</span>8.30-17.00
            </p></div>
            <div class="col-lg-5 col-sm-6 text-center"><h3>Nieuws</h3><p>{% for post in site.posts %}<a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}</p></div>
            <div class="col-lg-1"></div>
          </div>
      </div>
</div>
<div class="site-footer2">
      <div class="container">
        <div class="row">
        	<div class="col-sm-6"><p>Koffijberg is een topkapper, gevestigd in Amsterdam aan de Scheldestraat.</p></div>
        	<div class="col-sm-6 text-right"><p>Disclaimer&nbsp;&nbsp;&nbsp;
        	<i class="fa fa-facebook-square"></i> 
        	<i class="fa fa-pinterest-square"></i> 
        	<i class="fa fa-instagram"></i></p></div>
        </div>
      </div>
</div>
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jasny-bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>