<footer>

<div class="site-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-6 text-center visible-xs"><h3>Nieuws</h3><p>{% for post in site.posts %}<a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}</p></div>
            <div class="col-lg-3 col-sm-3 col-xs-6"><h3>Contact</h3><p>Koffijberg Hairdressers<br />Scheldestraat 8<br />1078 GK Amsterdam<br />020-6732374<br /><a href="mailto:receptie@koffijberg.nl">receptie@koffijberg.nl</a><br />KVK 1121429<br />BTW 23423902340</p></div>
            <div class="col-lg-2 col-sm-3 col-xs-6"><h3>Openingstijden</h3><p class="text-right">
            {% for d in site.openingstijden %}
                      <span class="day">{{ d.dag }}</span>{{ d.vanaf }} - {{ d.tot }}<br />
            {% endfor %}
            <span class="day">zondag</span>gesloten&nbsp;&nbsp;&nbsp;&nbsp;
            </p></div>
            <div class="col-lg-7 col-sm-6 text-center hidden-xs"><h3>Nieuws</h3><p>{% for post in site.posts %}<a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}</p></div>
          </div>
      </div>
</div>
<div class="site-footer2">
      <div class="container">
        <div class="row">
        	<div class="col-lg-8 col-sm-7"><p>Koffijberg Hairdressers - voor persoonlijk advies, prachtige haarkleuringen, service, kwaliteit en vakmanschap</p></div>
        	<div class="col-lg-4 col-sm-5 text-right"><p>Disclaimer&nbsp;&nbsp;&nbsp;
        	<i class="fa fa-facebook-square" onclick="window.open('https://www.facebook.com/Koffijberg-Hairdressers-143537182417933/');"></i> 
        	<i class="fa fa-twitter-square"></i> 
        	<i class="fa fa-pinterest-square"></i> 
        	<i class="fa fa-instagram" onclick="window.open('https://instagram.com/koffijberghairdressers/');"></i></p></div>
        </div>
      </div>
</div>
</footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/js/combined.js" | prepend: site.baseurl }}"></script>