


{% unless page.layout == 'contact' %}
<div id="instagram">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <article>
                    
                      <header class="post-header">
                        <span class="editable">Inspiratie</span>
                        <h2 class="editable">Instagram</h2>
                      </header>
                    
                      <div class="post-content">
                          <div id="instafeed">
                            {% for item in site.instagram %}<a href="https://www.instagram.com/koffijberghairdressers/" style="background: url('{{ item.image }}') center center / cover;"></a>{% endfor %}
                          </div>
                          <style>
                            #instafeed {overflow: auto; margin-left: -1%; margin-bottom: 20px;}
                            #instafeed a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; padding-bottom: 19%;}
                          </style>
                          <a href="https://www.instagram.com/koffijberghairdressers/" class="btn btn-primary" target="_blank">Check ons Instagram account</a>
                      </div>
                    
              </article>
          </div>
        </div>
  </div>
</div>
{% endunless %}

<footer>

<div class="site-footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-6 visible-xs"><h3 style="cursor: pointer;" onclick="document.location.href='/nieuws';">Nieuws</h3><p>{% for post in site.posts limit:7  %}<span class="footerdate">{{ post.date | date: "%-d/%m/%Y" }}</span><a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}</p></div>
            <div class="col-lg-3 col-sm-3 col-xs-6"><h3 id="contact">Contact</h3><p>{% include contactinfo.html %}</p></div>
            <div class="col-lg-6 col-sm-6 hidden-xs"><h3 style="cursor: pointer;" onclick="document.location.href='/nieuws';">Nieuws</h3><p>{% for post in site.posts limit:7 %}<span class="footerdate">{{ post.date | date: "%-d/%m/%Y" }}</span><a href="{{ post.url }}">{{ post.title }}</a><br />{% endfor %}</p></div>
            <div class="col-lg-push-1 col-lg-2 col-sm-3 col-xs-6"><h3>Openingstijden</h3>{% include openingstijden.html %}</div>
          </div>
      </div>
</div>
<div class="site-footer2">
      <div class="container">
        <div class="row">
        	<div class="col-lg-8 col-sm-7"><p>&copy; 2020 - Koffijberg Hairdressers - <a href="/privacy">Privacy</a> - <a href="/disclaimer">Disclaimer</a></p></div>
        	<div class="col-lg-4 col-sm-5 text-right"><p>Volg ons op:&nbsp;
        	<i class="fa icon-facebook" onclick="window.open('https://www.facebook.com/Koffijberg-Hairdressers-143537182417933/');"></i>&nbsp;
        	<!--<i class="fa icon-twitter" onclick="window.open('https://twitter.com/KoffijbergHair');"></i>&nbsp;-->
          <i class="fa icon-youtube-play" onclick="window.open('https://www.youtube.com/channel/UCQ6RfbEXvRoI2s1iW4w906A');"></i>&nbsp;
          <i class="fa icon-pinterest" onclick="window.open('https://nl.pinterest.com/koffijberghair/');"></i>&nbsp;
        	<i class="fa icon-instagram" onclick="window.open('https://instagram.com/koffijberghairdressers/');"></i></p></div>
        </div>
      </div>
</div>
</footer>

<div id="not_sharethis" class="follow">
    <div class="facebook" onclick="window.open('https://www.facebook.com/Koffijberg-Hairdressers-143537182417933/');"><div><i class="fa icon-facebook"></i></div> Volgen</div>
    <!--<div class="twitter" onclick="window.open('https://twitter.com/KoffijbergHair');"><div><i class="fa icon-twitter"></i></div> Volgen</div>-->
    <div class="youtube" onclick="window.open('https://www.youtube.com/channel/UCQ6RfbEXvRoI2s1iW4w906A');"><div><i class="fa icon-youtube-play"></i></div> Volgen</div>
    <div class="pinterest" onclick="window.open('https://nl.pinterest.com/koffijberghair/');"><div><i class="fa icon-pinterest"></i></div> Volgen</div>
    <div class="instagram" onclick="window.open('https://instagram.com/koffijberghairdressers/');"><div><i class="fa icon-instagram"></i></div> Volgen</div>
</div>


<a id="whatsappme" href="https://wa.me/31647268686" target="_blank" rel="noopener"><img src="/img/whatsapplogo.svg" /></a>

{% assign sitenotifications = site.notifications | where: 'active','true' %}
{% for item in sitenotifications limit: 1 %}
<div id="bottomright_popup">
  <div class="window">
    <div class="close"><a></a></div>	
    <div class="popupcontent">
        
        {{ item.content | markdownify }}

        <p><a href="{{ item.button_url }}" class="btn btn-primary">{{ item.button_text }}</a></p>
    </div>
  </div>
</div>
{% endfor %}



{% for popup in site.popups %}{% if popup.active == true %}
<table cellpadding="0" cellspacing="0" id="popup"><tr><td><div style="background: {{ popup.background_color }} url({{ popup.image }}) center top no-repeat; background-size: cover;">
	<div class="close"><a onclick="$( '#popup' ).hide(); $( '#popup .videoWrapper' ).remove();" style="cursor: pointer;"><i class="fa icon-cancel-2"></i> </A></div>	
    <style>#popup div.popupcontent a {background: {{ popup.button_color }};}
    #popup div.popupcontent a:hover {background: {{ popup.button_hover_color }};}</style>
	{% if popup.youtube_id %}<div class="popupcontent" style="padding: 0; margin: 0;"><div class="videoWrapper" style="margin-bottom: 0;"><iframe src="" data-src="https://www.youtube.com/embed/{{ popup.youtube_id }}?rel=0&amp;showinfo=0&amp;controls=0&amp;autoplay=1&amp;mute=1" allowfullscreen="" frameborder="0" width="720" height="420"></iframe></div></div>{% else %}<div class="popupcontent {% if popup.large_text %}large_text{% endif %}" style="{% if popup.text_shadow == true %}text-shadow: 0px 0px 7px {{ popup.text_shadow_color }};{% endif %} color: {{ popup.text_color }};">{{ popup.content }}</div>{% endif %}

</div></td></tr></table>
{% endif %}{% endfor %}

</div>

<!--<div id="lightbox" style="width:100%;height:100%;" onclick="closeimage();" ><div style="display:table-cell;vertical-align:middle;"><div id="controls"><span onclick="goPrev(event); return false;" id="prevbutton">‹</span><span onclick="goNext(event); return false;" id="nextbutton">›</span></div><span id="closebutton">sluiten</span><img id="image" src="" /></div></div>-->

<script type="text/javascript" src="/js/lightbox.js"></script>
<link rel="stylesheet" href="/css/lightbox.css">




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/js/combined.js" | prepend: site.baseurl }}"></script>


<script>
var element = document.querySelector('#bottomright_popup .window .close');
if(typeof(element) != 'undefined' && element != null){
  element.addEventListener("click", function() {
    document.querySelector('#bottomright_popup').style.display = 'none';
    sessionStorage.setItem('shownotification', 'false');
  }); 
  if(!sessionStorage.getItem('shownotification')) setTimeout(function(){ document.body.classList.add('notificationactive'); }, 3000);
}







//open external links in a new window
function externalLinks() {
  for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
    var b = c[a];
    b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
  }
}
function fNewPDFWindows ()
{
  if (!document.getElementsByTagName) return false;
  var links = document.getElementsByTagName("a");
  for (var eleLink=0; eleLink < links.length; eleLink ++) {
    if ((links[eleLink].href.indexOf('.pdf') !== -1)||(links[eleLink].href.indexOf('.doc') !== -1)||(links[eleLink].href.indexOf('.docx') !== -1)) {
      links[eleLink].onclick =
        function() {
          window.open(this.href);
          return false;
        }
    }
  }
} 
function getId(url) {
    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
    var match = url.match(regExp);
    if (match && match[2].length == 11) {
        return match[2];
    } else {
        return 'error';
    }
}
function yt_url2embed() {
    var p = document.getElementsByTagName('p');
    for(var i = 0; i < p.length; i++) {
        var pattern = /^((http|https|ftp):\/\/)/;
        if(pattern.test(p[i].innerHTML)) {
            var myId = getId(p[i].innerHTML);
            p[i].innerHTML = '<div class="videoWrapper"><iframe width="720" height="420" src="https://www.youtube.com/embed/' + myId + '?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>';
        }
    }
}
yt_url2embed();

fNewPDFWindows()
externalLinks();
    </script>
