<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="language" content="NL">

  {% if page.layout == 'home' %}
  <link rel="alternate" hreflang="en" href="https://koffijberghairdressers.com">
  <link rel="alternate" hreflang="nl" href="https://www.koffijberg.nl">
  <link rel="alternate" hreflang="x-default" href="https://www.koffijberg.nl">
  {% endif %}

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% assign pagecontent_description = page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 160 %}
  <meta name="description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}">

  <meta id="viewport" name="viewport" content="width=device-width">
  {% if page.layout == 'home' %}
  <link rel="canonical" href="{{ site.url }}">
  {% else %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
    <link rel="shortcut icon" type="image/png" href="/img/icon-196x196.png">
    <link rel="shortcut icon" sizes="196x196" href="/img/icon-196x196.png">
    <link rel="apple-touch-icon" href="/img/icon-196x196.png">

  <link rel="stylesheet" href="{{ "/css/combined.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

   <!-- Facebook and Twitter integration -->
   <meta property="og:title" content="{{ page.title }}"/>
   {% if page.image %}<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>{% endif %}
   <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
   <meta property="og:type" content="article">
   <meta property="og:site_name" content="{{ site.title }}"/>
   <meta property="og:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}"/>
   
   <meta name="twitter:card" content="summary">
   <meta name="twitter:site" content="{{ site.twitter_url }}">
   <meta name="twitter:title" content="{{ page.title }}" />
   {% if page.image %}<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />{% endif %}
   <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
   <meta name="twitter:description" content="{% if pagecontent_description.size > 10 %}{{ pagecontent_description }}{% else %}{{ site.description }}{% endif %}" />


	<script>
	if (screen.width < 450) {
	  document.getElementById("viewport").setAttribute("content", "width=450");
	}
  </script>

  <script>
    var script = document.createElement('script');
    script.setAttribute('type','text/javascript');
    script.setAttribute('defer','defer');
    script.setAttribute('src','//widget.salonhub.nl/a/i.js');
    document.getElementsByTagName('head')[0].appendChild(script);
  </script>


<style>
{% for item in site.data.settings.intro_images %}.intro.image1 > div {background: #bbb9c5 url('{{ item.image }}') center top no-repeat; height: 800px; }{% endfor %}
</style>

	{% include ga.html %}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1393366147405131'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1393366147405131&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

</head>
<script>
fbq('track', 'ViewContent');
</script>