			<p class="text-right">
            <span class="day editable">maandag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">dinsdag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">woensdag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">donderdag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">vrijdag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">zaterdag</span><span class="time editable">9.00 - 17.30</span><br />
            <span class="day editable">zondags</span><span class="time editable">gesloten</span>
            </p>