<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body class="home" id="top">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/koffijberglogo_ffffff.svg" onerror="this.onerror=null; this.src='/img/koffijberglogo_ffffff.png'" /></td></tr></table></div>
  <div id="nonsplash">
      <script>document.getElementById('nonsplash').style.display = 'none';</script>
    <div id="review" class="hidden-xs"><div style="position: absolute; z-index: 99; cursor: pointer; width: 160px; height: 120px;" onclick="window.open('https://www.wiewathaar.nl/salons/koffijberg-hairdressers/');"></div><iframe scroling="no" width="160" height="120" allowtransparency="1" src="https://www.wiewathaar.nl/embed.php?sid=50577&c=0" border="0" frameborder="0" style="background: #acdfe4;"></iframe></div>
    {% include header.html %}
    <a class="arrow bounce" href="#over-ons"></a>
    <div class="intro"><div><div>
  		<div class="container">
  			<div class="row">
  		    	<div class="col-md-8"></div>
            <div class="col-md-4 highlight">
            <table cellpadding="0" cellspacing="0"><tr><td>
            {% for d in page.highlights %}
  		    	    <article id="n{{ forloop.index }}">
                        <header class="post-header">
                          <h1 class="post-title">{{ d.title }}</h1>
                        </header>
                      
                        <div class="post-content">
                              <p>{{ d.text }}</p>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a><br />
                              <a href="tel:020-6732374" class="btn mobile">bel 020-6732374</a>
                              <span class="btn desktop">bel 020-6732374</span>
                        </div>
                </article>
            {% endfor %}
            </td></tr></table>
  		    	</div>
  		    </div>
  		</div>
    </div></div></div>


    <div class="about" id="over-ons">
      <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10">
                <article>
                     
                        <header class="post-header">
                          <span class="editable">Over Koffijberg</span>
                          <h1 class="post-title editable">Topkapper in Amsterdam</h1>
                        </header>
                      
                        <div class="post-content"><div class="editable"><p><a href="https://photos.google.com/share/AF1QipOJti8OeHzM6kd3MyzHAuHhZ-PtFqGDrupw9_zhqss0avv0DzEDnDC_80w-rfqRGA?key=MWNIVkpya2Y1U3JJN0FGMW5tbXJlaVkxYjhJZjZR">Kapsalon Koffijberg</a> heeft in het verleden onder andere de Global Salon Business Award gewonnen en was in 2013 winnaar van de Coiffure Award. Onze kappers en kapsters krijgen ook veel erkenning uit de branche in de vorm van andere prijzen. Onze aanpak staat al 40 jaar voor vakmanschap, creativiteit en vernieuwing op het gebied van kapsels, haarkleuringen en styling en is absoluut trendsettend. Onze kappers en kapsters blinken uit in technische vakkundigheid en in persoonlijke aandacht voor hun klanten. <a target="_blank" href="/over-ons/index.html">Lees meer...</a></p></div>
                              <a href="/collecties/" class="btn btn-primary">Onze collecties</a>
                        </div>
                      
                </article>
            </div>
            <div class="col-lg-2 col-md-1"></div>
          </div>
      </div>
    </div>




    <div class="salon" id="openingstijden">
      <div class="container">
        <div class="circle">
          <article>
            <header class="post-header">
              <h1 class="post-title">Openingstijden</h1>
            </header>
            <div class="post-content">
              {% include openingstijden.html %}
            </div>
        </article></div>
      </div>
    </div>


    <div class="behandelingen" id="behandelingen">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="post-title editable">Behandelingen</h1>
            </div>
        </div>
        <div class="row post-content">
            <div class="col-lg-9">
                              <table cellpadding="0" cellspacing="0">
                              <tr><td><b>Dames</b></td><td class="text-center"><b>Stylist</b></td><td class="text-center"><b>Top-Stylist</b></td><td class="text-center"><b>Master-Stylist<sup>1</sup></b></td></tr>
                              {% for d in site.data.treatments.ladies %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr><td colspan="4"><br /><b>Heren</b></td></tr>
                              {% for d in site.data.treatments.gents %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr><td colspan="4"><br /><b>Kinderen / jongeren / studenten<sup>2</sup></b></td></tr>
                              {% for d in site.data.treatments.discounts %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Kleur<sup>3</sup></b></td></tr>
                              {% for d in site.data.treatments.colorings %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Blow-dry-area</b></td></tr>
                              {% for d in site.data.treatments.blow-dry %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Wassen föhnen</b></td></tr>
                              {% for d in site.data.treatments.wash-and-dry %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Beauty area</b></td></tr>
                              {% for d in site.data.treatments.specials %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Treatment room</b></td></tr>
                              {% for d in site.data.treatments.treatment-room %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Extensions<sup>4</sup></b></td></tr>
                              {% for d in site.data.treatments.extensions %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              </table><br />



<div id="expand1" style="padding-bottom: 30px; position: relative; top: 5px;"><a id="expandbutton" class="btn btn-primary">Bekijk al onze behandelingen</a></div>
            </div>
            <div class="col-lg-3">
              <div class="sidebar" style="margin-top: 7px;">
                <p class="smaller editable"><sup>1</sup> Voor Kimm Koffijberg geldt een extra toeslag.<br />
                  <sup>2</sup> Korting geldt niet in combinatie met andere kortingsacties en niet geldig bij Master-Stylisten en Kleurspecialisten.
                </p>
                <div class="expand1">
                  <p class="smaller editable"><sup>3</sup> Alle kleurbehandelingen zijn inclusief wassen en een complete verzorging (verzorgende crème, hoofdmassage en warme handdoek).<br />
                  <sup>4</sup> Alle Extention behandelingen worden pas ingepland na een persoonlijk advies van een van onze specialisten. U kunt hiervoor een gratis afspraak maken.</p>
                </div>
                <p class="smaller editable"><br />Alle prijzen van de kleurbehandelingen op deze lijst zijn vanaf prijzen. De definitieve prijzen kunnen afwijken van de hierboven genoemde prijzen. De definitieve kleurprijzen zijn mede afhankelijk van de benodigde tijd. De kleurprijzen kunnen afwijken wanneer meer dan de gebruikelijke hoeveelheid product gebruikt moet worden. De kapp(st)er kan u voorafgaand aan de behandeling een prijsopgave doen in onze kapsalon.</p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="salon2">
    </div>



    


<div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <article>
                        <header class="post-header">
                          <h1 class="post-title editable">Blow Dry Area</h1>
                        </header>
                                              
                        <div class="post-content"><div class="editable">
  <p><img style="margin-bottom: 15px; cursor: pointer;" alt="Blow Dry Area" src="img/blowdryarea.jpg" onclick="document.location.href='behandelingen/blow-dry/';" /><br />D&egrave; trend in Amerika nu ook bij ons in de kapsalon: de Blow Dry Area. Binnen 30 minuten f&ouml;hnen wij je haar of verzorgen een updo. Jij geniet ondertussen van een hapje en een drankje. Je komt met gewassen en droog haar naar onze kapsalon. Daar kies je uit een van onze looks en wij zorgen ervoor dat je na een half uurtje met een catwalk look onze kapsalon verlaat. Een blow dry voor je haar is snel en betaalbaar. Onverwacht een belangrijke zakelijke afspraak? Of vanavond een feestje? Bel ons of loop even binnen en <em>book a blow-out!</em></p>
</div>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a>
                        </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-6">
                <article>
                        <header class="post-header">
                          <h1 class="post-title editable">Color I-dentity</h1>
                        </header>
                                              
                        <div class="post-content"><div class="editable"><p>Kapsalon Koffijberg tilt de haarkleuranalyse naar een hoger plan. Samen met jou komen wij tot een advies voor je nieuwe haarkleur gebaseerd op je lifestyle en wensen. Wil je een haarkleur die vooral mooi past bij de kleur van je huid en ogen? Of wil je bijvoorbeeld sterker of zakelijker overkomen en meer gezien worden in je werkomgeving? Is er een andere gebeurtenis in je leven waardoor je een imagoverandering kan gebruiken? Door het invullen van een korte vragenlijst en het gebruik van moodboards en kleurenkragen, heb je de mogelijkheid je professioneel te laten adviseren door onze haarspecialisten. Kom naar onze kapsalon en beleef dit advies.</p></div>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a>
                        </div>
                </article>
            </div>

          </div>
      </div>
    </div>


    <div class="team" id="team">
      <div class="container">
        <article>
        <div class="row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8">

                        <header class="post-header">
                          <h1 class="post-title editable">Team</h1>
                        </header>

                        <div class="post-content editable"><p>Het team van Koffijberg Hairdressers Amsterdam bestaat uit meerdere getalenteerde kappers en kapsters. Binnen het team werken alle kappers volgens &eacute;&eacute;n filosofie: persoonlijke aandacht, vakmanschap en een op maat gesneden advies, waarbij innerlijk en uiterlijk van de klant voorop staan.</p></div>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" style="padding-bottom: 10px;">                  

                        <span onclick="prevmember();" class="prev teamcontrol"><i class="fa icon-angle-left"></i></span><span onclick="nextmember();" class="next teamcontrol"><i class="fa icon-angle-right"></i></span>
                        {% assign members = site.members | sort: 'order' %}
                        <ul class="ch-grid">{% for d in members %}<li>
                            <div class="ch-item ch-img-1" style="background-image: url({{ d.image | replace: " ","%20" }});" onclick="document.location.href='{{ d.url }}';">
                              <div class="ch-info">
                                <div class="h3">{{ d.naam }}</div>
                                <p>{{ d.functie }}</p>
                              </div>
                            </div>
                          </li>{% endfor %}</ul>
                       
              </div>
              <div class="col-lg-1"></div>
        </div>
        </article>
      </div>
    </div>

    <div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <article>
                        <header class="post-header">
                          <h1 class="post-title editable">
                            Sterk krullend haar en/of Mixed hair
                          </h1>
                        </header>
                                              
                        <div class="post-content"><div class="editable">
  <p>Heb je sterk gekruld en/of mixed hair en ben je op zoek naar een kapper die professioneel om kan gaan met je krullen? Dan ben je bij ons aan het goede adres: Koffijberg Hairdressers is al jaren d&egrave; kapsalon voor mooi natuurlijk krullend haar; het zit in onze genen. Wij snappen dat je sterk gekruld en/of mixed hair anders knipt en behandelt dan steil en fijn haar:</p>
  <p><img width="202" height="267" src="/uploads/iva-mixed-hair---knip.jpg" /></p>
  <p>Onbehandeld mixed hair hoef je niet vaak te wassen. Het heeft wel regelmatig een masker of haarkuur nodig. Je haar is van nature droger dan andere soorten haar en het&nbsp; heeft heel veel behoefte aan vocht en olie. Onze speciale mixed hair productlijnen zitten daarom boordevol voedende en hydraterende bestanddelen. Er zitten veel meer oli&euml;n en moisturizers in dan in producten voor Europees of Aziatisch haar.</p>
  <p><img width="400" height="267" src="/uploads/kapper-mixed-hair-krullen-heer.jpg" /></p>
  <p>Voordeel van mixed hair is dat je je haar maar zo&rsquo;n 1 x in de vier maanden hoeft te knippen. Jij en wij weten dat er bij het knippen maar een snippertje vanaf mag!! Elke centimeter eraf, lijkt wel 5 centimeter korter als je haar is opgedroogd." Na het knippen, defini&euml;ren wij jouw krullen met de juiste producten. Voor het kleuren van je haar (puntkleuring, splitcolor etc.) gebruiken we de milde producten van L&rsquo;Oreal. Zij hebben ook ammonia vrije kleurproducten. En wil je er extra mooi uitzien? Dan zorgen we ervoor dat je haar supermooi gef&ouml;hnd en getangd wordt door een van onze professionele kappers.</p>
  <p><img width="400" height="267" src="/uploads/kapper-mixed-hair-krullen-1.jpg" /></p>
  <p>&nbsp;</p>
</div>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a>
                        </div>
                </article>
            </div>
            <div class="col-sm-6 col-lg-6">
                <article>
                        <header class="post-header">
                          <h1 class="post-title editable">Shining grey</h1>
                        </header>
                                              
                        <div class="post-content"><div class="editable">
  <p>Kimm Koffijberg heeft een uniek concept ontwikkeld. Voor vrouwen met gekleurd haar die op een mooie manier hun grijze haar willen laten uitgroeien.</p>
  <p>&lsquo;Shining grey&rsquo; verloopt via een subtiel persoonlijk stappenplan en duurt gemiddeld een jaar. Elke 3 of 4 maanden bezoek je onze kapsalon. Op een uitgekiende manier plaatsen onze kappers en kapsters bij ieder bezoek low- en highlights om zo het grijze en het gekleurde haar steeds meer te blenden. Jij en je omgeving wennen zo geleidelijk aan je nieuwe grijze haarkleur, terwijl onze kappers en kapsters de kwaliteit en de kleur van het haar goed bewaken. Na een jaar komt een vrouw tevoorschijn met een sprankelende grijze en eigentijdse look.</p>
  <h3>Beauty basic</h3>
  <p>Make-up advies nodig na een Shining grey behandeling? Wij zijn er voor je in onze Beauty Area. Wij adviseren en helpen je graag om je make-up aan te passen aan je nieuwe haarkleur. Wij geloven in less is more door de basics (foundation, concealer, primer, mascara en blush) zo toe te passen dat het beste van jou naar voren komt. Maak een afspraak voor een professioneel advies van een van onze visagistes!</p>
</div>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a>
                        </div>
                </article>
            </div>
          </div>
      </div>
    </div>



    {% include footer.html %}
</div>
  </body>

</html>
