<!DOCTYPE html>
<html lang="nl">

  {% include head.html %}

  <body class="home {% unless page.header_overlay %}alwaysattop{% endunless %}" id="top">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/koffijberglogo_ffffff.svg" onerror="this.onerror=null; this.src='/img/koffijberglogo_ffffff.png'" /></td></tr></table></div>
  <div id="nonsplash">
      <script>document.getElementById('nonsplash').style.display = 'none';</script>
    <div id="review" class="hidden-xs">
      <div style="position: absolute; z-index: 99; cursor: pointer; width: 160px; height: 115px;" onclick="window.open('https://www.wiewathaar.nl/salons/koffijberg-hairdressers/');"></div>
      <div>
        <img src="/img/wiewathaar.png" alt="wieathaar" />
        <span></span><span></span><span></span><span></span><span></span>
        Waardering: <strong>10/10</strong>
      </div>
    </div>
    {% include header.html %}
    <a class="arrow bounce" href="#over-ons"></a>


    <!-- OLD IMAGE HEADER -->
    <!--<div class="intro"><div><div>
  		<div class="container">
  			<div class="row">
  		    	<div class="col-md-8"></div>
            <div class="col-md-4 highlight">
            <table cellpadding="0" cellspacing="0"><tr><td>
            {% for d in page.highlights %}
  		    	    <article id="n{{ forloop.index }}">
                        <header class="post-header">
                          <h1 class="post-title">{{ d.title }}</h1>
                        </header>
                      
                        <div class="post-content">
                              <p>{{ d.text }}</p>
                              <a href="/contact" class="btn btn-primary">Maak een afspraak</a><br />
                              <a href="tel:020-6732374" class="btn mobile">bel 020-6732374</a>
                              <span class="btn desktop">bel 020-6732374</span>
                        </div>
                </article>
            {% endfor %}
            </td></tr></table>
  		    	</div>
  		    </div>
  		</div>
    </div></div></div>-->


    <!-- NEW VIDEO HEADER -->
    <div class="intro">
      <div style="position: relative; overflow: hidden;">
        <div id="muteYouTubeVideoPlayer"></div>

        <script async src="https://www.youtube.com/iframe_api"></script>
        <script>
         var youtubeids = [{% for item in page.youtube_ids %}{% unless forloop.first %}, {% endunless %}'{{ item.youtube_id }}'{% endfor %}];
         var random_id = youtubeids[Math.floor(Math.random() * youtubeids.length)];
         function onYouTubeIframeAPIReady() {
          var player;
          player = new YT.Player('muteYouTubeVideoPlayer', {
            videoId: random_id, // YouTube Video ID
            width: 560,           // Player width (in px)
            height: 316,          // Player height (in px)
            playerVars: {
              autoplay: 1,        // Auto-play the video on load
              controls: 0,        // Show pause/play buttons in player
              showinfo: 0,        // Hide the video title
              modestbranding: 1,  // Hide the Youtube Logo
              loop: 1,            // Run the video in a loop
              fs: 0,              // Hide the full screen button
              cc_load_policy: 0,  // Hide closed captions
              iv_load_policy: 3,  // Hide the Video Annotations
              autohide: 1         // Hide video controls when playing
            },
            events: {
              onReady: function(e) {
                e.target.mute();
              },
              onStateChange: function(e) {
                if (e.data === YT.PlayerState.ENDED) {
                  player.playVideo(); 
                }
              }
            }
          });
         }
        
         // Written by @labnol
        </script>
        <style>
          #muteYouTubeVideoPlayer {width: 100%; height: 400%; position: absolute; left: 50%; top: calc(50%{% if page.header_overlay %}{% else %} + 73px{% endif %}); transform: translate(-50%, -50%); z-index: 0;}
          @media only screen and (max-width: 1422px) {
            #muteYouTubeVideoPlayer {width: 400%; height: 100%;}
          }
          @media only screen and (max-width: 600px) {
            #muteYouTubeVideoPlayer {display: none;}
          }
        </style>
        <div style="height: 800px; position: relative; overflow: hidden; background: {% if page.header_overlay %}rgba(195, 195, 195, 0.8){% else %}none{% endif %};">

          <div class="container" style="display: {% if page.header_overlay %}block{% else %}none{% endif %}">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 highlight">
                <table cellpadding="0" cellspacing="0"><tr><td>
                {% for d in page.highlights %}
                    <article id="n{{ forloop.index }}">
                            <header class="post-header">
                              <h1 class="post-title">{{ d.title }}</h1>
                            </header>
                          
                            <div class="post-content">
                                  <p>{{ d.text }}</p>
                                  <a href="/contact" class="btn btn-primary">Maak een afspraak</a><br />
                                  <a href="tel:020-6732374" class="btn mobile">bel 020-6732374</a>
                                  <span class="btn desktop">bel 020-6732374</span>
                            </div>
                    </article>
                {% endfor %}
                </td></tr></table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about" id="over-ons">
      <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10">
                <article>

                  <header class="post-header">
                    <span class="section_editable">{{ page.sections[0].subtitle }}</span>
                    <h1 class="post-title section_editable">{{ page.sections[0].title }}</h1>
                  </header>

                  <div class="post-content">
                    <div class="section_editable">{{ page.sections[0].text_html }}</div>
                    <a href="{{ page.sections[0].button_url }}" class="btn btn-primary">{{ page.sections[0].button }}</a>
                  </div>

                </article>
            </div>
            <div class="col-lg-2 col-md-1"></div>
          </div>
      </div>
    </div>




    <div class="salon" id="openingstijden" style="background-image: url('{{ page.background_images[0].image }}');">
      <div class="container">
        <div class="circle">
          <article>
            <header class="post-header">
              <h1 class="post-title">Openingstijden</h1>
            </header>
            <div class="post-content">
              {% include openingstijden.html %}
            </div>
        </article></div>
      </div>
    </div>


    <div class="behandelingen" id="behandelingen">
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="post-title editable">
                  Behandelingen
                </h1>
            </div>
        </div>
        <div class="row post-content">
            <div class="col-lg-9">
                              <table cellpadding="0" cellspacing="0">
                              <tr><td><b>Dames</b></td><td class="text-center"><b>Stylist</b></td><td class="text-center"><b>Top-Stylist</b></td><td class="text-center"><b>Master-Stylist<sup>1</sup></b></td></tr>
                              {% for d in site.data.treatments.ladies %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr><td colspan="4"><br /><b>Heren</b></td></tr>
                              {% for d in site.data.treatments.gents %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr><td colspan="4"><br /><b>Kinderen / jongeren / studenten<sup>2</sup></b></td></tr>
                              {% for d in site.data.treatments.discounts %}
                                  {% for p in d.prijs %}
                                  <tr><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Kleur<sup>3</sup></b></td></tr>
                              {% for d in site.data.treatments.colorings %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Blow-dry-area</b></td></tr>
                              {% for d in site.data.treatments.blow-dry %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Wassen föhnen</b></td></tr>
                              {% for d in site.data.treatments.wash-and-dry %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Beauty area</b></td></tr>
                              {% for d in site.data.treatments.specials %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Treatment room</b></td></tr>
                              {% for d in site.data.treatments.treatment-room %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              <tr class="expand1"><td colspan="4"><br /><b>Extensions<sup>4</sup></b></td></tr>
                              {% for d in site.data.treatments.extensions %}
                                  {% for p in d.prijs %}
                                  <tr class="expand1"><td>{% if d.treatment != '' and d.treatment != nil %}<a href="/behandelingen/{{ d.treatment }}">{{ d.item }} <img src="/img/infoicon.svg" style="height: 15px; position: relative; bottom: 1px;" alt="Meer informatie" /></a>{% else %}{{ d.item }}{% endif %}</td><td class="text-center">{{ p.stylist }}</td><td class="text-center">{{ p.topstylist }}</td><td class="text-center">{{ p.masterstylist }}</td></tr>
                                  {% endfor %}
                              {% endfor %}
                              </table><br />



<div id="expand1" style="padding-bottom: 30px; position: relative; top: 5px;"><a id="expandbutton" class="btn btn-primary">Bekijk al onze behandelingen</a></div>
            </div>
            <div class="col-lg-3">
              <div class="sidebar" style="margin-top: 7px;">
                <p class="smaller editable">
                  Wij werken met <a href="/prijsdifferentiatie">prijsdifferentiatie</a>.<br /><br /><sup>1</sup> Voor Kimm Koffijberg geldt een extra toeslag.<br /><br /><sup>2</sup> Korting geldt niet in combinatie met andere kortingsacties en niet geldig bij Master-Stylisten en Kleurspecialisten.
                </p>
                <div class="expand1">
                  <p class="smaller editable"><br />
                    <sup>3</sup> Alle kleurbehandelingen zijn inclusief wassen en een complete verzorging (verzorgende cr&egrave;me, hoofdmassage en warme handdoek).<br /><br /><sup>4</sup> Alle Extention behandelingen worden pas ingepland na een persoonlijk advies van een van onze specialisten. U kunt hiervoor een gratis afspraak maken.
                  </p>
                </div>
                <p class="smaller editable">
                  <br />Alle prijzen van de kleurbehandelingen op deze lijst zijn vanaf prijzen. De definitieve prijzen kunnen afwijken van de hierboven genoemde prijzen. De definitieve kleurprijzen zijn mede afhankelijk van de benodigde tijd. De kleurprijzen kunnen afwijken wanneer meer dan de gebruikelijke hoeveelheid product gebruikt moet worden. De kapp(st)er kan u voorafgaand aan de behandeling een prijsopgave doen in onze kapsalon.
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="salon2" style="background-image: url('{{ page.background_images[1].image }}');">
    </div>



    


<div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                {% include section.html number=1 %}
            </div>
            <div class="col-sm-6 col-lg-6">
                {% include section.html number=2 %}
            </div>

          </div>
      </div>
    </div>


    {% include team.html %}

    <div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
              {% include section.html number=3 %}
            </div>
            <div class="col-sm-6 col-lg-6">
              {% include section.html number=4 %}
            </div>
          </div>
      </div>
    </div>


    <div class="salon2" style="background-image: url('{{ page.background_images[2].image }}');"></div>

    <div class="twocols">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
              {% include section.html number=5 %}
            </div>
            <div class="col-sm-6 col-lg-6">
              {% include section.html number=6 %}
            </div>
          </div>
      </div>
    </div>


    {% include footer.html %}
</div>
  </body>

</html>
